<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

   <mapper namespace="com.hk.toCheckFinal">


      <select id="getAllListEvery" resultType="HcDto">
         SELECT PKEY, ID, TITLE, CONTENT, STDATE, EDDATE, TERM, REGDATE, CHKS, ENDLIST, CALWITH, WITHH, PROGRESS, RECRUIT, INTOPER, CHKSS, PHOTO, IDLIST
         FROM HCBOARD WHERE ENDLIST='N'
      </select>
      <select id="getAllList" parameterType="String" resultType="HcDto">
         SELECT PKEY, ID, TITLE, CONTENT, STDATE, EDDATE, TERM, REGDATE, CHKS, ENDLIST, CALWITH, WITHH, PROGRESS, RECRUIT, INTOPER, CHKSS, PHOTO, IDLIST
         FROM HCBOARD WHERE ID=#{id} AND ENDLIST='N'
      </select>      
	  <select id="getAllHcList" resultType="HcDto">
         SELECT PKEY, ID, TITLE, CONTENT, STDATE, EDDATE, TERM, REGDATE, CHKS, ENDLIST, CALWITH, WITHH, PROGRESS, RECRUIT, INTOPER, CHKSS, PHOTO, IDLIST
         FROM HCBOARD WHERE WITHH ='N' AND CALWITH ='Y' AND ENDLIST='N' ORDER BY REGDATE DESC
      </select> 
      <select id="getAllHcListY" resultType="HcDto">
         SELECT PKEY, ID, TITLE, CONTENT, STDATE, EDDATE, TERM, REGDATE, CHKS, ENDLIST, CALWITH, WITHH, PROGRESS, RECRUIT, INTOPER, CHKSS, PHOTO, IDLIST
         FROM HCBOARD WHERE WITHH ='Y' AND ENDLIST='N'  ORDER BY REGDATE DESC
      </select>
      <select id="getHabitCalList" parameterType="Map" resultType="HcDto">
         SELECT PKEY, ID, TITLE, CONTENT, STDATE, EDDATE, TERM, REGDATE, CHKS, ENDLIST, CALWITH, WITHH, PROGRESS, RECRUIT, INTOPER, CHKSS, PHOTO, IDLIST
         FROM HCBOARD WHERE PKEY=#{pKey}
      </select>
      
      <select id="getAllListEndY" parameterType="String" resultType="HcDto">
         SELECT PKEY, ID, TITLE, CONTENT, STDATE, EDDATE, TERM, REGDATE, CHKS, ENDLIST, CALWITH, WITHH, PROGRESS, RECRUIT, INTOPER, CHKSS, PHOTO, IDLIST
         FROM HCBOARD WHERE ID=#{id} AND ENDLIST='Y'
      </select>


      
      <insert id="habitCalInsert" parameterType="HcDto">
         INSERT INTO HCBOARD
         VALUES (#{pKey},#{id},#{title},#{content},#{stDate},#{edDate},#{term},SYSDATE,'0','N',#{calWith},#{withh},'N',#{recruit},'1','0',#{photo},#{id})
      </insert>
      <update id="updateCheck" parameterType="HcDto">
         UPDATE HCBOARD SET CHKS=#{chks}, CALWITH=#{calWith} ,CHKSS=#{chkss}
         WHERE PKEY=#{pKey}
      </update>      
      <update id="updateIntoper" parameterType="HcDto">
         UPDATE HCBOARD SET INTOPER=#{intoper}, IDLIST=#{idlist}
         WHERE PKEY=#{pKey}
      </update>
      <update id="updateEndList" parameterType="HcDto" >
         UPDATE HCBOARD SET ENDLIST=#{endList} WHERE PKEY=#{pKey}
      </update>






      <insert id="insertCalWith" parameterType="HcWithDto">
         INSERT INTO HCWITHBOARD
         VALUES (#{id},#{withGoalList})
      </insert>

      <select id="getCalWith" parameterType="String" resultType="HcWithDto">
         SELECT ID, WITHGOALLIST
         FROM HCWITHBOARD WHERE ID=#{id}
      </select>


      <update id="updateCalWith" parameterType="HcWithDto" >
         UPDATE HCWITHBOARD SET WITHGOALLIST=#{withGoalList} WHERE ID=#{id}
      </update>






      <delete id="habitCalDelete" parameterType="Map" >
         DELETE HCBOARD
         WHERE PKEY=#{pKey}
      </delete>

      <select id="idChk" parameterType="map" resultType="HcLoginDto">
         SELECT ID
         FROM HCMEMBER WHERE ID=#{id}   
      </select>

      <insert id="insertHcInChk" parameterType="HcInChkDto">
         INSERT INTO HCINCHKBOARD
         VALUES (#{pKey},#{id},#{title},#{inChkDate},'/','/','/','/','/')
<!--       VALUES (#{pKey},#{id},#{title},#{inChkDate},#{inChkPhoto},#{inChkTitle},#{inChkContent},#{inChkTime},#{inChkPhoto2}) -->
      </insert>
      
      <select id="getHcInChk" parameterType="Map" resultType="HcInChkDto">
         SELECT PKEY, ID, TITLE, INCHKDATE, INCHKPHOTO, INCHKTITLE, INCHKCONTENT, INCHKTIME, INCHKPHOTO2
         FROM HCINCHKBOARD WHERE PKEY=#{pKey} AND INCHKDATE=#{inChkDate}   
      </select>      

	  <select id="getHcUserInChk" parameterType="Map" resultType="HcInChkDto">
         SELECT PKEY, ID, TITLE, INCHKDATE, INCHKPHOTO, INCHKTITLE, INCHKCONTENT, INCHKTIME, INCHKPHOTO2
         FROM HCINCHKBOARD WHERE PKEY=#{pKey} AND INCHKDATE=#{inChkDate} AND Id=#{id}
      </select>      

      <update id="updateHcInChk" parameterType="HcInChkDto">
         UPDATE HCINCHKBOARD SET INCHKTITLE=#{inChkTitle}, INCHKCONTENT=#{inChkContent}, INCHKPHOTO=#{inChkPhoto, jdbcType=VARCHAR}, INCHKPHOTO2=#{inChkPhoto2, jdbcType=VARCHAR}, INCHKTIME=#{inChkTime}
         WHERE Id=#{id} AND PKEY=#{pKey} AND INCHKDATE=#{inChkDate}
      </update>      
      
      <delete id="deleteHcInChk" parameterType="Map" >
         DELETE 
         FROM HCINCHKBOARD WHERE PKEY=#{pKey}
      </delete>

	  <update id="deleteHcUserInChk" parameterType="HcInChkDto">
         UPDATE HCINCHKBOARD SET INCHKTITLE='/', INCHKCONTENT='/', INCHKPHOTO='/', INCHKTIME='/' ,INCHKPHOTO2='/'
         WHERE PKEY=#{pKey} AND INCHKDATE=#{inChkDate} AND Id=#{id}
      </update>      
      
      


      
<!-- insertUser -->
      <insert id="insertUser" parameterType="HcLoginDto">
         INSERT INTO HCMEMBER VALUES
         (HCMEMBER_SEQ.NEXTVAL,#{id},#{name},#{password},#{address},#{phone},#{email},'Y','USER',1000,'0')   
      </insert>
      
      
      <select id="getLogin" parameterType="Map" resultType="HcLoginDto">
         SELECT ID, PASSWORD, NAME, ADDRESS, PHONE, EMAIL, ENABLED, ROLE
         FROM HCMEMBER WHERE ID=#{id} AND PASSWORD=#{password} AND ENABLED = 'Y'   
      </select>
      <select id="getUser" parameterType="String" resultType="HcLoginDto">
         SELECT SEQ, ID, NAME, ADDRESS, PHONE, EMAIL, ENABLED, ROLE, TTPOINT, TDPOINT
         FROM HCMEMBER WHERE ID=#{value}
      </select>
      <update id="updateUser" parameterType="HcLoginDto">
         UPDATE HCMEMBER SET ADDRESS=#{address}, PHONE=#{phone}, EMAIL=#{email}
         WHERE Id=#{id}
      </update>
      <update id="deleUser" parameterType="String">
         UPDATE HCMEMBER SET ENABLED='N'
         WHERE Id=#{value}
      </update>
      <select id="getAllUser" resultType="HcLoginDto">
         SELECT SEQ, ID, NAME, ADDRESS, PHONE, EMAIL, ENABLED, ROLE
         FROM HCMEMBER ORDER BY NAME   
      </select>
      <update id="updateRoleUser" parameterType="Map">
         UPDATE HCMEMBER SET ROLE=#{role}, ENABLED=#{enabled} WHERE ID=#{id}      
      </update>   

    </mapper>